body {
  margin: 0;
  background-image: url("images/robert-lukeman-_RBcxo9AU-U-unsplash.jpg");
  /* height: 100vh; */
  background-size: cover;
  backdrop-filter: blur(2px);
}

.container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #1f2937;
  padding: 115px 0 0 50px;
}

.heading {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  width: 360px;
  margin-bottom: 0;
  line-height: 40px;
}

.heading span {
  color: #4adf86;
}

#p-content {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #d5d4d8;
  margin-top: 20px;
}

#generate {
  background-color: #10b981;
  border: none;
  border-radius: 6px;
  align-items: center;
  padding: 10px 17px 10px 15px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-top: 40px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

#line {
  width: 450px;
  height: 1px;
  margin-top: 40px;
  border-bottom: 1px solid #2f3e53;
}

.random {
  background: #273549;
  border-radius: 6px;
  width: 212px;
  height: 42px;
  border: none;
  margin: 33px 25px 0 0;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #55f991;
}
